/* Informations
    Colors
        Background #29303c
        text #d1f0fd
        accent #61EFBC

*/

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	color: #dbf4ff;
	font-family: "Nunito";
}
body {
	background-color: #29303c;
}
section {
	margin: 100px 0;
	padding: 100px;
	background-color: #333c4b54;
}
/* Global */
.container {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}
.container-fluid {
	max-width: 100%;
	width: 100%;
}
.btn {
	padding: 10px;
	color: black;
	font-weight: 600;
	font-size: 16px;
	background-color: white;
	outline: 0;
	border: 0;
	border-radius: 6px;
	cursor: pointer;
}
.btn-ghost {
	background-color: transparent;
	border: 2px solid white;
	color: white;
}
.btn-ghost:hover {
	background-color: white;
	color: black;
	transition: background-color 300ms ease;
}
.btn-primary {
	background-color: #61efbc;
	font-size: 18px;
	padding: 15px;
	font-weight: 700;
}
.btn-primary:hover {
	background-color: #59dbab;
	transition: background-color 300ms ease;
}
.section-title {
	font-size: 35px;
	font-weight: 800;
	margin-bottom: 20px;
}
.section-subtitle {
	font-size: 18px;
	font-weight: 500;
	margin-bottom: 35px;
	max-width: 70%;
	text-align: center;
}

/* Nav Bar */
#main-nav {
	height: 80px;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333c4b86;
}
#main-nav .logo {
	font-size: 25px;
	font-weight: 900;
}

/* Hero */
#main-header {
	background-image: url("assets/Hero-bg.png");
	height: auto;
	padding: 40px 0;
	margin-bottom: 80px;
}
#main-header div {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#main-header div img {
	max-width: 20%;
	margin-bottom: 30px;
}
#main-header div h1 {
	text-align: center;
	font-size: 45px;
	font-weight: 900;
	margin-bottom: 30px;
}

#main-header div p {
	font-size: 22px;
	font-weight: 700;
	margin-bottom: 30px;
}

/* Why web */
#why-web {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#why-web .missions {
	width: 100%;
	background-color: #333c4b54;
	padding: 50px;
	margin: 25px 0;
	display: flex;
	justify-content: space-between;
}
#why-web .missions div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	max-width: 50%;
}
#why-web .missions div h3 {
	font-size: 25px;
	font-weight: 700;
	margin-bottom: 15px;
}
#why-web .missions div p {
	font-size: 18px;
	margin-bottom: 15px;
}
